/* Propuesta.css */

.propuesta-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #333;
  min-height: 100vh;
  padding: 20px;
}

.propuesta-header {
  background-color: #2a6ebb;
  padding: 20px;
  /* Asignar ancho */
  width: 56.4%;
  /* Centrar header */
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  border-radius: 8px;
}

.propuesta-content {
  background-color: white;
  margin: 30px auto;
  padding: 30px;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.propuesta-content h2 {
  color: #2a6ebb;
  margin-bottom: 15px;
}

.propuesta-content p {
  font-size: 18px;
  line-height: 1.6;
}
